html {
	margin: 0;
	padding: 0;
}

body {
	font: 75% georgia, sans-serif;
	background: rgba(23, 23, 23, 0.98);
	margin: 5px;
	padding: 0;
}

header {
	padding-top: 20px;
	height: 87px;
}

header h1 {
	color : #d1cdff;
	font-size: 2em;
	text-align: center;
}


nav {
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
	margin: 1% 1% 1% 10%;
	width: 19%;
	padding: 2%;
	background-color: #555753;
}

.dixBillets {
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
	margin: 1% 1% 10% 1%;
	width: 19%;
	padding: 2%;
	background-color: #555753;
}

nav li {
	list-style-type: none;
	font-size: 1em;
}

nav li a:link {
	color: #988F5E;
}

nav li a:visited {
	color: #B3AE94;
}

p { 
	margin-top: 0;
	font-size: 1em;
	text-align: justify;
	color: #171717;

}

h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #191513;
}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
}

a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
}

a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
}

article {
	vertical-align: top;
	background-color: #555753;
	display: inline-block;
	width: 38%;
	margin: 1% 1% 1% 1%;
	padding: 1.5%;
}

footer { 
	text-align: center; 
}

.admin {
	vertical-align: top;
	background-color: #555753;
	display: inline-block;
	width: 60%;
	margin-left: 20%;
	padding: 1%;
}

form {
	margin-left: 40%;
	width: 20%;
}

.erreur {
	font-weight: bold;
	color: #880000;
}

.date {
	font-size: 0.7em;
}

@media screen and (max-width : 600px) {
	article {
		width : 90% ;
		margin-right : 4%;
		margin-left : 4%;
	}

	nav  {
		width : 90% ;
		margin-right : 4%;
		margin-left : 4%;
	}

	.dixBillets {
		width : 90% ;
		margin-right : 4%;
		margin-left : 4%;
	}

	.admin {
		width : 90% ;
		margin-right : 4%;
		margin-left : 4%;
	}

	form {
		width : 90% ;
		margin-right : 4%;
		margin-left : 4%;
	}
}
